/* style.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/bg.png');
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#wrap-main {
    /* position */
    position: relative;
    width: 90%;
    height: 80%;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    /* style */
    background-color: #F4F1F0;
    z-index: 900;
}

#search {
    /* position */
    width: 60%;
    height: 30px;
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    vertical-align: middle;

}

#refresh {
    height: 36px;
    font-family: 'Roboto Condensed', sans-serif;
    vertical-align: middle;
    margin-left: 10px;
}

.cstatus {
    width: 70px;
    height: 70px;
    background-color: #888;
    text-align: center;
    border-radius: 50px;
    vertical-align: middle;
}

.status_col {
    text-align: center;
    vertical-align: middle;
    width: 70px;
    height: 70px;
}

.small_text {
    font-size: 0.6em;
}

#cluster_icon {
    width: 60px;
    margin-top: 5px;
    vertical-align: middle;
    text-align: center;
    /*width: 50px;*/
}

#raw_btn {
    background-image: url('../img/raw.png');
}

#detail_btn {
    background-image: url('../img/arrow.png');
    background-size: 60%;

}

.tbl-btn {
    width: 32px;
    height: 32px;
    border-radius: 30px;
    border: none;
    text-align: center;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
}

.tbl-btn:active {
    background-color: #888;
}

/* TABLE ELEMENTS */

tr, th, td, table {
    border-collapse: collapse;
    border: none;
    margin: none;
    padding: none;
}

tr:not(:first-child):hover {
    background-color: #FFF;
}

td {
    padding: 5px;
}

.spacer {
    width: 10px;
}

.col {
    padding: 10px;
    font-family: 'Roboto Condensed';
}

#server_table {
    border: 0px;
    margin-top: 10px;
    width: 100%;
}

.tbl-header {
    background-color: #333;
    line-height: 30px;
}

.hcol {
    text-align: left;
    color: #FFF;
    font-family: 'Roboto Condensed';
}

.col1, .hcol1 {
    width: 150px;
}

.col1 {
    font-size: 30px;
    font-weight: bold;
}

.col2 {
    font-size: 20px;
}

.col2, .hcol2 {
    width: 100px;
}


.col3, .hcol3 {
    width: 80px;
}

.col4, .hcol4 {
    width: 80px;
}

.col5, .hcol5 {
    width: 100px;
}

.col6, .hcol6 {
    text-align: right;
}

.hcolg {
    text-align: left;
}

.mcol {
    width: 10px;
}

.grid-tr {

}

.col-grid {
    padding: none;
    margin: none;
}

.col-grid-div {
    display: inline-flex;
    padding: none;
    margin: 1px;
}

.member-li {
    list-style-type: none;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: none;
    padding: none;
}

/*   DETAIL   */

#detail-window {
    display: none;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0px;
    left: 0px;
    /*backdrop-filter: blur(3px);*/
}

#wrap-detail {
    width: 800px;
    height: 800px;
    background-color: #F4F1F0;
    margin: auto;

}

#status_bar {
    width: 100%;
    height: 20px;

}

/* detail table */
#detail-tbl {
    position: relative;
    width: 90%;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 50px;
}

.dtbl {
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    text-align: left;
}

.dtbl-col1, .dtbl-col3 {
    width: 130px;
    font-size: 30px;
    font-weight: bold;
}

.dtbl-col2, .dtbl-col4 {
    width: 100px;
    font-size: 30px;
}

.dtbl-spacer {
    width: 80px;
}

#members_header {
    width: 90%;
    margin: auto;
    text-align: left;
}

.m-header {
    marign-top: 20px;
    font-size: 30px;
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
}

#add-btn {
    display: inline-block;
    text-align: right;
    margin-left: 20px;
    background-image: url('../img/plus.png');
    background-size: 50%;
}